* {
    font-family: montserrat;
}

body {
    background: white;
}

.section-padding {
    padding: 100px 0;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-flex;
    transition: transform 0.5s;
}

.navbar-nav a:hover {
    color: #0D6EFD;
    transform: translateY(-3px);
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000;
}

.navbar-light .navbar-nav  .navbar-link {
    color: #000;
}

.w-100{
    height: 100vh;
}

.services .card-body i {
    font-size: 50px;
}

.work .card {
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}

.me .card {
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}

.me{
    padding-top: 175px;
}

.me .section-header h2 {
    font-size: 100px;
}

.me .section-header p {
    font-size: 30px;
}

.gallery {
    min-height: 100vh;
    max-width: 100%;
    padding-bottom: 100px;
}

.gtr {
    background-color: white;
    border: 1px solid #0D6EFD;
    border-width: thin;
    font-size: 0.8rem;
    padding: 6px;
    width: 120px;
    border-radius: 6px;
    transition: background 0.5s;
}

.gtr:hover {
    background: #0D6EFD;
}

#images #image {
    transition: transform 0.5s;
}

#images #image:hover {
    transform: scale(1.08);
}

.contact-right {
    flex-basis: 35%;
}

.contact-left {
    flex-basis: 65%;
}

.contact-right p {
    margin-top: 30px;
}

.contact-right p i {
    color: #0D6EFD;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    transform: translateY(-5px)
}

.btn.btn2 {
    display: inline-block;
    background: white;
    margin-bottom: 40px;
    border: 1px solid #0D6EFD;
    transition: background 0.5s;
}

.btn.btn2:hover {
    background: #0D6EFD;
}

.contact-left form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: lightgray;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

nav .fas {
    display: none;
}

#span {
    color: #61b752;
    margin-top: -40px;
    display: block;
}

/* responsive css */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 370px;
    }

    .carousel-caption p {
        width: 100%;
    }

    .card {
        margin-bottom: 30px;
    }

    .img-area img {
        width: 100%;
    }
}

@media only screen and (max-width: 605px) {
    .navbar-toggler {
        margin-left: 70px;
    }

    .navbar-nav {
        text-align: center;
    }

    .carousel-inner {
        height: 500px;
        width: 490px;
    }

    .carousel-item img {
        height: 500px !important;
        width: 490px !important;
    }

    #gas-station {
        text-align: center;
    }

    #images {
        padding-top: 50px;
    }

    #images #image {
        padding: 5px;
    }

    .about-text {
        padding-top: 50px;
    }

    .card {
        margin-bottom: 30px;
    }

    .container .contact-right {
        margin-left: 110px;
        text-align: center;
    }
    .container .contact-right p {
        font-size: 15px;
        width: 250px !important;
    }

    .contact-left form {
        width: 460px;
    }

    .contact-left form .btn.btn2 {
        margin-left: 140px;
    }
}